[
  {
    "Sid": "AllowEC2Role",
    "Effect": "Allow",
    "Principal": [
      "arn:aws:iam::{account_id}:role/<your-ec2-instance-role-name>"
    ],
    "Action": ["es:*"],
    "Resource": [
      "arn:aws:es:{region}:{account_id}:domain/{domain_name}",
      "arn:aws:es:{region}:{account_id}:domain/{domain_name}/*"
    ]
  }
]
